<%= wicked_pdf_stylesheet_link_tag "programy_studiow" -%>
  <h1>
    Program studiów <%= programStudiow.id %>
  </h1>
<div>
  <label>Liczba semestrów:</label>
  <%= programStudiow.liczbaSemestrow %>
</div>
<div>
  <label>Liczba punktów ECTS konieczna do uzyskania kwalifikacji: </label>
  <%= programStudiow.ECTSdoKwalifikacji %>
</div>
<div>
  <label>Wymagania wstępne: </label>
  <%= programStudiow.wymaganiaWstepne %>
</div>
<div>
  <label>Uzyskiwany tytuł:</label>
  <%= programStudiow.uzyskiwanyTytul %>
</div>
<div>
  <label>Możliwość kontynuacji studiów:</label>
  <%= programStudiow.mozliwoscKontynuacjiStudiow %>
</div>
<div>
  <label> Sylwetka absolwenta, możliwości zatrudnienia:</label>
  <%= programStudiow.sylwetkaAbsolwenta %>
</div>
<div>
  <label>Wskazanie związku z misją Uczelni i strategią jej rozwoju:</label>
  <%= programStudiow.zwiazekZMisjaUczelni %>
</div>

<%= yield %>