<h1>
  Program studiów <%= @programStudiow.id %>
</h1>
<div>
  <label>Liczba semestrów:</label>
  <%= @programStudiow.liczbaSemestrow %>
</div>
<div>
  <label>Liczba punktów ECTS konieczna do uzyskania kwalifikacji: </label>
  <%= @programStudiow.ECTSdoKwalifikacji %>
</div>
<div>
  <label>Wymagania wstępne: </label>
  <%= @programStudiow.wymaganiaWstepne %>
</div>
<div>
  <label>Uzyskiwany tytuł:</label>
  <%= @programStudiow.uzyskiwanyTytul %>
</div>
<div>
  <label>Możliwość kontynuacji studiów:</label>
  <%= @programStudiow.mozliwoscKontynuacjiStudiow %>
</div>
<div>
  <label> Sylwetka absolwenta, możliwości zatrudnienia:</label>
  <%= @programStudiow.sylwetkaAbsolwenta %>
</div>
<div>
  <label>Wskazanie związku z misją Uczelni i strategią jej rozwoju:</label>
  <%= @programStudiow.zwiazekZMisjaUczelni %>
</div>

<div>
  <label>Kierunek studiów:</label>
  <%= @programStudiow.program_ksztalcenia.kierunek_studiow.nazwaKierunku %>
</div>

<div>
  <label>Profil kształcenia:</label>
  <%= @programStudiow.program_ksztalcenia.profil %>
</div>

<div>
  <label>Obszary kształcenia:</label>
  <%= @programStudiow.program_ksztalcenia.udzialy_obszarow.map do |udzial|
    udzial.obszar_ksztalcenia.nazwaObszaru
  end.join(',') %>
</div>

<div>
  <label>Zwięzła analiza zgodności zakładanych efektów kształcenia z potrzebami rynku pracy:</label>
  <%= @programStudiow.zwiezlaAnalizaZRynkiem %>
</div>

<div>
  <label>Lista modułów kształcenia (obowiązkowych):</label>
  <% @programStudiow.moduly_ksztalcenia.select{|m| m.Obowiazkowy?}.each do |obowiazkowy|%>
      <%= obowiazkowy.nazwaModulu %>
  <% end %>
</div>

<div>
  <label>Lista modułów:</label>
  <ul>
    <% @programStudiow.moduly_ksztalcenia.group_by {|m| m[:typ]}.each do |typ, modulyTypu| %>
        <li><%= typ == 0 ? 'Obowiazkowy' : 'Opcjonalny' %>
          <ul>
            <% modulyTypu.group_by {|n| n[:profil_modulu_id]}.each do |profilModulu, moduly| %>
                <li><%= ProfilModulu.find(profilModulu).nazwa %></li>
                <ul>
                  <% moduly.each do |modul| %>
                      <li>
                        <table class="kursy">
                          <thead>
                          <tr>
                            <th rowspan="2">L.p</th>
                            <th rowspan="2">Kod kursu/grupy kursów</th>
                            <th rowspan="2">Nazwa kursu/grupy kursów</th>
                            <th colspan="7">Formy zajęć</th>
                            <th rowspan="2">Symbol KEK</th>
                            <th colspan="2">Godziny</th>
                            <th colspan="3">Liczba pkt. ECTS</th>
                            <th rowspan="2">Sposób zaliczenia</th>
                            <th colspan="4">Kurs/Grupa kursów</th>
                          </tr>
                          <tr>
                            <th>w<sup>1</sup></th>
                            <th>ć<sup>2</sup></th>
                            <th>l<sup>3</sup></th>
                            <th>p<sup>4</sup></th>
                            <th>s<sup>5</sup></th>
                            <th>prak<sup>6</sup></th>
                            <th>prac<sup>7</sup></th>
                            <th>ZZU</th>
                            <th>CNPS</th>
                            <th>łączna</th>
                            <th>zajęć BK <sup>8</sup></th>
                            <th>zajęć P <sup>9</sup></th>
                            <th>Ogólno.<sup>10</sup></th>
                            <th>Rodzaj</th>
                            <th>Typ</th>
                          </tr>
                          </thead>
                          <tbody>
                        <%= modul.nazwaModulu %> (min. <%= modul.minEcts %> pkt. ECTS)
                        <% # W obrebie modulu wybieram zajecia ktore nie wchodza w sklad zadnej GK
                          modul.zajecia.select{|z| z.grupa_kursow == nil}.each_with_index do |zajecie, index|
                            %>
                          <tr>
                            <td><%= index+1 %></td>
                            <td><%= zajecie.kodZajec %></td>
                            <td><%= zajecie.nazwaZajec %></td>
                            <td><%= if zajecie.is_a? Kurs
                                      'x' if zajecie.Wyklad?
                                    else
                                      'x' if zajecie.kursy.any?{|k| k.Wyklad?}
                                    end %>
                            </td>
                            <td><%= if zajecie.is_a? Kurs
                                      'x' if zajecie.Cwiczenia?
                                    else
                                      'x' if zajecie.kursy.any?{|k| k.Cwiczenia?}
                                    end %></td>
                            <td><%= if zajecie.is_a? Kurs
                                       'x' if zajecie.Laboratorium?
                                     else
                                       'x' if zajecie.kursy.any?{|k| k.Laboratorium?}
                                     end %></td>
                            <td><%= if zajecie.is_a? Kurs
                                      'x' if zajecie.Projekt?
                                    else
                                      'x' if zajecie.kursy.any?{|k| k.Projekt?}
                                    end %></td>
                            <td><%= if zajecie.is_a? Kurs
                                      'x' if zajecie.Seminarium?
                                    else
                                      'x' if zajecie.kursy.any?{|k| k.Seminarium?}
                                    end %></td>
                            <td><%= if zajecie.is_a? Kurs
                                      'x' if zajecie.Praktyka?
                                    else
                                      'x' if zajecie.kursy.any?{|k| k.Praktyka?}
                                    end %></td>
                            <td><%= if zajecie.is_a? Kurs
                                      'x' if zajecie.Praktyka?
                                    else
                                      'x' if zajecie.kursy.any?{|k| k.Praktyka?}
                                    end %></td>
                            <td>
                              <%= zajecie.przedmiot_ksztalcenia.kierunkowe_efekty_ksztalcenia.map {|kek| kek.kod}.join(', ') %>
                            </td>
                            <td>
                              <%= if (zajecie.is_a? Kurs)
                                    zajecie.godzinyZZU
                                  else
                                    zajecie.kursy.reduce(0) {|sum, kurs| sum + kurs.godzinyZZU}
                                  end %>
                            </td>
                            <td>
                              <%= if (zajecie.is_a? Kurs)
                                    zajecie.godzinyCNPS
                                  else
                                    zajecie.kursy.reduce(0) {|sum, kurs| sum + kurs.godzinyCNPS}
                                  end %>
                            </td>
                            <td><%= zajecie.punktyECTS %></td>
                            <td><%= zajecie.punktyECTSBK %></td>
                            <td><%= zajecie.punktyECTSP %></td>
                            <td><%= zajecie.sposobZaliczenia %></td>
                            <td><%= zajecie.czyOgolnouczelniany ? 'TAK' : 'NIE' %></td>
                            <td><%= zajecie.rodzaj %></td>
                            <td><%= zajecie.typ %></td>
                          </tr>

                          <% end
                        %></tbody>
                        </table><br />
                        <%= render "przypis_tabelki"%>
                      </li>
                  <% end %>
                </ul>
            <% end %>
          </ul>
        </li>
    <% end %>
  </ul>
</div>

<div>
  <label>Zakres egzaminu dyplomowego:</label>
  <% @programStudiow.zagadnienia_egzaminu_dyplomowego.each do |zagadnienie| %>
      <ol>
        <li><%= zagadnienie.zagadnienie %></li>
      </ol>
  <% end %>
</div>
